html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 20vh 0 0 0;
}

.title {
  font-size: 2.2rem;
  font-weight: 600;
  margin: 0;
}

.text {
  font-size: 1.4rem;
}

@media only screen and (max-width: 700px) {
  body {
    padding: 0 5vw;
  }
  .title {
    font-size: 4.5rem;
  }
  .text {
    font-size: 2.5rem;
  }
}
